<header>
    <div class="header">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <a href="/" class="logo">BladeVPN</a>
                    <button class="navbar-toggle collapsed" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="javacript:;" id="tour-dropdown" class="dropdown-toggle">
                                Take a tour
                                <b class="caret"></b>
                            </a>
                            <ul aria-labelledby="tour-dropdown" class="dropdown-menu dropdown-menu-left left-pointer">
                                <em></em>
                                <span></span>
                                <li>
                                    <a href="/what-is-vpn">What is VPN?</a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="/what-is-vpn/browse-anonymously">Browse Anonymously</a>
                                </li>
                                <li>
                                    <a href="/what-is-vpn/hide-ip-address">Hide Your IP</a>
                                </li>
                                <li>
                                    <a href="/what-is-vpn/unblock-websites">Unblock Websites</a>
                                </li>
                                <li>
                                    <a href="/what-is-vpn/vpn-speed-test">VPN Speed Test</a>
                                </li>
                                <li>
                                    <a href="/what-is-vpn/logless-vpn">No Log VPN</a>
                                </li>
                                <li>
                                    <a href="/what-is-vpn/vpn-encryption">VPN Encryption</a>
                                </li>
                                <li>
                                    <a href="/what-is-vpn/protocols">All VPN Protocols</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" id="apps-dropdown" href="/vpn-software">VPN Apps
                                <b class="caret"></b>
                            </a>
                            <ul aria-labelledby="apps-dropdown" class="dropdown-menu dropdown-menu-left left-pointer">
                                <em></em>
                                <span></span>
                                <li>
                                    <a href="/vpn-software">All VPN Software</a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="/vpn-software/vpn-windows">Windows</a>
                                </li>
                                <li>
                                    <a href="/vpn-software/vpn-mac">Mac</a>
                                </li>
                                <li>
                                    <a href="/vpn-software/vpn-android">Android</a>
                                </li>
                                <li>
                                    <a href="/vpn-software/vpn-ios">iOS</a>
                                </li>
                                <li>
                                    <a href="/vpn-software/vpn-iphone">iPhone</a>
                                </li>
                                <li>
                                    <a href="/vpn-software/vpn-ipad">iPad</a>
                                </li>
                                <li>
                                    <a href="/vpn-software/vpn-linux">Linux</a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a href="/vpn-software/vpn-router">Router</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="/support/">Support</a>
                        </li>
                        <li>
                            <a href="/blog/">Blog</a>
                        </li>
                        <li>
                            <a class="login" href="/sign_in">My Account</a>
                        </li>
                        <li>
                            <a class="btn-get btn" id="header_get_expressvpn" href="/order"><span class="icon-download-expressvpn"></span>
                                Get ExpressVPN Now
                            </a></li>
                        <li class="dropdown lang-switcher">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="javascript: void(0);">
                                <span class="glyphicon icon-globe"></span>
                                English
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="/fr">Français</a>
                                    <a href="/de">Deutsch</a>
                                    <a href="/es">Español</a>
                                    <a href="/ru">Русский</a>
                                    <a href="/pt">Português</a>
                                    <a href="/no">Norsk</a>
                                    <a href="/it">Italiano</a>
                                    <a href="/jp">日本語</a>
                                    <a href="/kr">한국어</a>
                                    <a href="/th">ภาษาไทย</a>
                                    <a href="/tr">Türkçe</a>
                                    <a href="/nl">Nederlands</a>
                                    <a href="/se">Svenska</a>
                                    <a href="/fi">Suomi</a>
                                    <a href="/dk">Dansk</a>
                                    <a href="/pl">Polski</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>