
<footer>
    <div class="container">
        <div class="menu row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="footer-col">
                        <h6>Learn More</h6>
                        <a href="/vpn-software">VPN Software</a>
                        <a href="/vpn-service">VPN Service</a>
                        <a href="/vpn-server">VPN Server</a>
                        <a href="/what-is-vpn">What is VPN?</a>
                        <a href="/what-is-my-ip">What is My IP?</a>
                        <a href="/internet-privacy/">Internet Privacy</a>
                        <a href="/stream-sports/">Stream Sports</a>
                        <a href="/get-started">Top 5 VPN Uses</a>
                    </div>
                    <div class="footer-col">
                        <h6>Service</h6>
                        <a href="/support/vpn-setup">VPN Setup</a>
                        <a href="/users/sign_in">Login</a>
                        <a href="/support/troubleshooting/frequently-asked-questions/">FAQ</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="footer-col">
                        <h6>About</h6>
                        <a href="/support/">Contact Us</a>
                        <a href="/order">Plans and Pricing</a>
                        <a href="/press">Press</a>
                        <a target="_blank" href="/tos">Terms of Service</a>
                        <a href="/features/money-back-guarantee">Money-Back Guarantee</a>
                        <a href="/affiliates">Affiliates</a>
                        <a href="/features">Features</a>
                    </div>
                    <div class="footer-col">
                        <h6>Social</h6>
                        <a href="/refer-a-friend">Referrals</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tagline">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="copyright">
                        © 2017 ExpressVPN. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
